# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# basic
node_modules
dist
dist-ssr
*.local

# PocketBase
pocketbase/pocketbase*
pocketbase/pb_data/
pocketbase/pb_migrations/*
!pocketbase/pb_migrations/.gitkeep

# TanStack Router
.tanstack/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# custom
old
review-code.txt
